<div class="row">  
  <% (1..8).each do |column| %>
    <%cls=cls1=""%>
    <% row%2 ==0 ? cls="even" : cls1 = "even"%>
    <% if column%2 == 0 %>
      <div class="span2 <%=cls%>">
        <%= get_piece(row,column) if[1,2,7,8].include?(row) %>    
      </div>
    <% else %>
      <div class="span2 <%=cls1%>">
        <%= get_piece(row,column) if[1,2,7,8].include?(row) %>    
      </div>
    <% end %>
  <% end %>
</div>